/* ==========VARIABLES========== */
:root {
    --bkg-color: rgb(66, 66, 66);
    --bkg-color-pop: rgb(71, 70, 70);
    
    --nav-color: rgb(71, 71, 71);
    --file-name-color:rgb(22, 22, 22);
    --line-number-color: rgb(65, 64, 64);

    --text-color-faded: rgb(97, 97, 97);
    --tag-color-faded: rgb(60, 85, 117);
    --attribute-color-faded: rgb(65, 114, 121);
    --value-color-faded: rgb(109, 85, 40);
    --tag-content-color-faded: rgb(121, 121, 121);

    --text-color-bright: rgb(153, 153, 153);
    --tag-color-bright: rgb(92, 140, 202);
    --attribute-color-bright: rgb(116, 228, 243);
    --value-color-bright: rgb(196, 149, 63);
    --tag-content-color-bright: rgb(216, 216, 216);
}

/* ==========BODY========== */
body {
    margin: 0;
    background-color: var(--bkg-color);
    color: var(--text-color-faded);
    font-family: 'Courier New', Courier, monospace;
}

/* ==========CODE STYLING========== */
.indent {
    border-left: 1px solid var(--text-color-faded);
    margin-left: .5rem !important;
    margin-top: -1rem;
}

.child {
    padding-left: 0 !important;
}

.tag-faded {
    color: var(--tag-color-faded);
}

.tag-bright {
    color: var(--tag-color-bright);
}

.attribute-faded {
    color: var(--attribute-color-faded);
}

.value-faded {
    color: var(--value-color-faded);
}

.content-faded {
    color: var(--tag-content-color-faded);
}

.content-bright {
    color: var(--tag-content-color-bright);
}

.txt-color-faded {
    color: var(--text-color-faded);
}

.txt-color-bright {
    color: var(--text-color-bright);
}

.pop {
    background-color: var(--bkg-color-pop);
    box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.2);
}

/* ==========NAVBAR MOBILE========== */
.nav-mobile {
    display: flex;
    justify-content: center;
    background-color: var(--nav-color);
    height: 1.5rem;
    position: relative;
}

.burger {
    background-color: var(--nav-color);
    height: 2rem;
    width: 3rem;
    margin-bottom: -1.8rem;
    border-radius: 0 0 4px 4px;
}

/* ==========NAVBAR DESKTOP========== */
.nav-desktop {

}

/* ==========GRID========== */
.grid-container {
    padding: 0 .5rem 0 0;
    display: grid;
    grid-template-columns: clamp(1.5rem, 10vw, 2.2rem) 1.5rem 1.5rem 1.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "file-name file-name file-name file-name"
        "l1 doctype doctype doctype"
        "l2 html html html"
        "l3 head-opening head-opening head-opening"
        "l4 . title title"
        "l5 . link link"
        "l6 head-closing head-closing head-closing"
        "l7 body-opening body-opening body-opening"
        "l8 . h1 h1"
        "l9 . about-container-opening about-container-opening"
        "l10 . . about-img"
        "l11 . . about-p"
        "l12 . about-container-closing about-container-closing"
        "l13 body-closing body-closing body-closing";
}

.grid-container p {
    padding: .2em 0 0em .5em;
    margin: -1px 0 0;
    overflow-wrap: anywhere;
}

.line-number {
    background-color: var(--line-number-color);
}

.l1{
    grid-area: l1;
}
.l2{
    grid-area: l2;
}
.l3{
    grid-area: l3;
}
.l4{
    grid-area: l4;
}
.l5{
    grid-area: l5;
}
.l6{
    grid-area: l6;
}
.l7 {
    grid-area: l7;
}

.l8 {
    grid-area: l8;
}

.l9 {
    grid-area: l9;
}
.l10 {
    grid-area: l10;
}
.l11 {
    grid-area: l11;
}
.l12 {
    grid-area: l12;
}

.l13 {
    grid-area: l13;
}

.file-name{
    grid-area: file-name;
}

.doctype{
    grid-area: doctype;
}

.html{
    grid-area: html;
}

.head-opening{
    grid-area: head-opening;
}

.title{
    grid-area: title;
}

.link{
    grid-area: link;
}

.head-closing{
    grid-area: head-closing;
}

.body-opening {
    grid-area: body-opening;
}

.h1 {
    grid-area: h1;
}

.about-container-opening {
    grid-area: about-container-opening;
}

.about-img {
    grid-area: about-img;
}

.about-p {
    grid-area: about-p;
}

.about-container-closing {
    grid-area: about-container-closing;
}

.body-closing {
    grid-area: body-closing;
}

p.file-name {
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    /*cancel body margin-right*/ 
    margin-right: -0.5rem; 
    background-color: var(--file-name-color);
    text-align: center;
}

/* add some padding at the top of the grid */
p.doctype, p.l1.line-number{
    padding-top: 1rem;
}
