/* ==========VARIABLES========== */
:root {
    --bkg-color: rgb(44, 44, 44);
    --bkg-color-pop: rgb(80, 80, 80);
    --nav-color: rgb(49, 49, 49);
    --file-name-color: rgb(31, 30, 30);
    --line-number-color: rgb(61, 61, 61);
    --text-color-faded: rgb(124 121 121);
    --tag-color-faded: rgb(80 120 167);
    --attribute-color-faded: rgb(81 146 154);
    --value-color-faded: rgb(158 122 53);
    --tag-content-color-faded: rgb(143 143 143);
    --text-color-bright: rgb(210 210 210);
    --tag-color-bright: rgb(86 160 255);
    --attribute-color-bright: rgb(94 236 255);
    --value-color-bright: rgb(244 195 100);
    --tag-content-color-bright: rgb(255 255 255);
    --modal-overlay-color: rgba(10, 0, 0, .5);
    --modal-txt-color: wheat;
    --modal-accent: rgb(255 165 0);
}

/* hiding sections on mobile */
.projects-section,
.skills-section,
.contact-section,
.menu-section {
    display: none;
}

/* ==========BODY========== */
body {
    margin: 0;
    background-color: var(--bkg-color);
    color: var(--text-color-faded);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr;
}

/* ==========CODE STYLING========== */
.indent {
    border-left: 1px solid var(--text-color-faded);
    margin-left: .5rem !important;
    margin-top: -1rem;
}

.child {
    padding-left: 0 !important;
}

.tag-faded {
    color: var(--tag-color-faded);
}

.tag-bright {
    color: var(--tag-color-bright);
}

.attribute-faded {
    color: var(--attribute-color-faded);
}

.attribute-bright {
    color: var(--attribute-color-bright);
}

.value-faded {
    color: var(--value-color-faded);
}

.value-bright {
    color: var(--value-color-bright);
}

.content-faded {
    color: var(--tag-content-color-faded);
}

.content-bright {
    color: var(--tag-content-color-bright);
}

.txt-color-faded {
    color: var(--text-color-faded);
}

.txt-color-bright {
    color: var(--text-color-bright);
}

.modal-txt-color {
    color: var(--modal-txt-color);
}

.pop {
    /* background-color: var(--bkg-color-pop); */
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
}

.pop * {
    font-weight: bold;
}

/* ==========NAVBAR MOBILE========== */
.navigation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: var(--nav-color);
    position: relative; 
}

.hamburger {
    border: 0;
    color: var(--text-color-bright);
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: -0.8rem;
    background-color: var(--nav-color);
    padding: .1em .3em;
    border-radius: 3px;
}

.nav-ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.nav-ul.show {
    display: flex;
    flex-direction: column;
}
.nav-ul li {
    margin: .75em .75em;
}

.nav-ul li:last-child {
    margin-bottom: 0;
}

.nav-ul li a {
    color: var(--text-color-bright);
    padding: 1rem 1.5rem;
    text-decoration: none;
}



/* ==========GRID========== */
.grid-container {
    padding: 0 .5rem 0 0;
    display: grid;
    grid-template-columns: clamp(1.5rem, 10vw, 2.2rem) 1.5rem 1.5rem 1.5fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "about-file-name about-file-name about-file-name about-file-name"
        "l1 doctype doctype doctype"
        "l2 html html html"
        "l3 head-opening head-opening head-opening"
        "l4 i1 title title"
        "l5 i2 link link"
        "l6 head-closing head-closing head-closing"
        "l7 body-opening body-opening body-opening"
        "l8 i3 h1 h1"
        "l9 i4 about-container-opening about-container-opening"
        "l10 i5 i6 about-img"
        "l11 i7 i8 about-p1"
        "l12 i9 i10 about-br1"
        "l13 i11 i12 about-br2"
        "l14 i13 i14 about-p2"
        "l15 i15 about-container-closing about-container-closing"
        "l16 i16 contact-p contact-p"
        "l17 body-closing body-closing body-closing";
        
}

.grid-container p {
    padding: .2em 0 0em .5em;
    margin: -1px 0 0;
    overflow-wrap: anywhere;
}

.line-number {
    background-color: var(--line-number-color);
}

.l1{
    grid-area: l1;
}
.l2{
    grid-area: l2;
}
.l3{
    grid-area: l3;
}
.l4{
    grid-area: l4;
}
.l5{
    grid-area: l5;
}
.l6{
    grid-area: l6;
}
.l7 {
    grid-area: l7;
}

.l8 {
    grid-area: l8;
}

.l9 {
    grid-area: l9;
}
.l10 {
    grid-area: l10;
}
.l11 {
    grid-area: l11;
}
.l12 {
    grid-area: l12;
}

.l13 {
    grid-area: l13;
}

.l14 {
    grid-area: l14;
}

.l15 {
    grid-area: l15;
}

.l16 {
    grid-area: l16;
}

.l17 {
    grid-area: l17;
}


.i1 {
    grid-area: i1;
}

.i2 {
    grid-area: i2;
}

.i3 {
    grid-area: i3;
}

.i4 {
    grid-area: i4;
}

.i5 {
    grid-area: i5;
}

.i6 {
    grid-area: i6;
}

.i7 {
    grid-area: i7;
}

.i8 {
    grid-area: i8;
}

.i9 {
    grid-area: i9;
}

.i10 {
    grid-area: i10;
}

.i11 {
    grid-area: i11;
}

.i12 {
    grid-area: i12;
}

.i13 {
    grid-area: i13;
}

.i14 {
    grid-area: i14;
}

.i15 {
    grid-area: i15;
}

.i16 {
    grid-area: i16;
}

.about-file-name{
    grid-area: about-file-name;
}

.doctype{
    grid-area: doctype;
}

.html{
    grid-area: html;
}

.head-opening{
    grid-area: head-opening;
}

.title{
    grid-area: title;
}

.link{
    grid-area: link;
}

.head-closing{
    grid-area: head-closing;
}

.body-opening {
    grid-area: body-opening;
}

.h1 {
    grid-area: h1;
}

.about-container-opening {
    grid-area: about-container-opening;
}

.about-img {
    grid-area: about-img;
}

.about-p1 {
    grid-area: about-p1;
}

.about-br1 {
    grid-area: about-br1;
}

.about-br2 {
    grid-area: about-br2;
}

.about-container-closing {
    grid-area: about-container-closing;
}

.contact-p {
    grid-area: contact-p;
}

.body-closing {
    grid-area: body-closing;
}

p.about-file-name {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    /*cancel body margin-right*/ 
    margin-right: -0.5rem; 
    background-color: var(--file-name-color);
    text-align: center;
    color: var(--modal-txt-color);
}

.icon-html {
    color: var(--modal-accent);
    font-weight: bold;
}
.icon-css {
    color: var(--tag-color-bright);
    font-size: 1.2em;
}
.icon-js {
font-weight: 500;
color: lime;
}
.icon-zsh {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

/* add some padding at the top of the grid */
p.doctype, p.l1.line-number{
    padding-top: 1rem;
}


/* ==========MEDIA QUERIES========== */
/* ========== min  960px ========== */

@media screen and (min-width: 960px){
    .navigation {
        flex-direction: column;
    }
    .hamburger {
        display: none;
    }

    .nav-ul {
        display: flex;
    }

    .nav-ul li a {
        display: inline-block;
        color: var(--text-color-bright);
        text-decoration: none;
        padding: 0;
    }
     /* show sections on larger screens */
     .projects-section,
     .skills-section,
     .contact-section,
     .menu-section {
         display: inline-block;
     }

    body {
        grid-template-columns: clamp(10rem, 10vw, 12rem) repeat(3, 1fr) !important;
        grid-template-rows: 1fr 25vh !important;
        grid-template: 
            "navigation about-section projects-section skills-section"
            "navigation contact-section contact-section contact-section";
            font-size: 16px;
    }

    
    .navigation {
        grid-area: navigation;
    }

    .about-section {
        grid-area: about-section;
        border-right: 1px solid var(--text-color-faded);
        border-bottom: 1px solid var(--text-color-faded);
    }

    .projects-section {
        grid-area: projects-section;
        border-right: 1px solid var(--text-color-faded);
        border-bottom: 1px solid var(--text-color-faded);
    }

    .skills-section {
        grid-area: skills-section;
        border-bottom: 1px solid var(--text-color-faded);
    }

    .contact-section {
        grid-area: contact-section;
    }

    .about-section,
    .projects-section,
    .skills-section {
        max-height: 73vh;
        padding-right: .5rem;
    }

    .about-section,
    .projects-section,
    .skills-section,
    .contact-section {
        overflow-y: scroll;
    }
}


/* ==========MODALS========== */
/* ==========about-modal========== */
.profile-pic {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 100%;
}

.modal {
    box-sizing: border-box;
    width: 90vw;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--bkg-color-pop);
    padding: 1rem ;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-head {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.modal-head .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
}

.modal-body {
    color: var(--modal-txt-color);
    padding: .3em;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--modal-overlay-color);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.modal-accent {
    color: var(--modal-accent);
}

/* ==========contact-modal========== */
.modal-contact-h2 {
    color: var(--modal-accent);
}

.modal-body form input, 
.modal-body form textarea {
    margin: .3em 0 2em 0;
    border: none;
    border-radius: 3px;
    width: 100%;
    min-height: 2.5em;
}

.modal-body form #submit {
    background-color: var(--modal-accent);
    color: var(--bkg-color-pop);
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
}